@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");
body {
  font-family: "Noto Sans TC", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
}
button {
  background: none;
  border: none;
  padding: 0px;
  min-width: 36px;
  min-height: 36px;
  padding-left: 8px;
  padding-right: 8px;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

a {
  text-decoration: none;
}
.navbar > li:hover {
  cursor: pointer;
}
.container {
  display: flex;
}
.inventory {
  flex: 2;
}
.cart {
  flex: 1;
}
.inventory > h1 {
  margin-top: 22px;
}
.cart > h2 {
  margin-top: 22px;
}
.itemCounter {
  display: flex;
  justify-content: space-around;
}

.inventoryItems {
  display: flex;
  flex-flow: row wrap;
  margin-top: 96px;
  justify-content: space-evenly;
}
.inventoryItems > div {
  max-width: 156px;
  flex: 1;
  display: inline-block;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 36px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
